<md-content layout="row" layout-align="center start">
    <md-card flex="100" ng-form="$ctrl.uploadForm">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Upload image</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column">
            <div class="upload-file" ngf-drop ngf-select ng-model="$ctrl.file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'"
                ngf-max-size="20MB" layout="column" layout-align="center center">
                <span class="md-title" ng-if="!$ctrl.file">Drag or click to select image</span>
                <img ng-if="$ctrl.file" ngf-thumbnail="$ctrl.file">
            </div>
            <md-input-container>
                <label>Description</label>
                <input required name="description" ng-model="$ctrl.description">
                <div ng-messages="projectForm.description.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Location</label>
                <input required name="description" ng-model="$ctrl.location">
                <div ng-messages="projectForm.description.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-chips required ng-model="$ctrl.imageTags" md-removable="ctrl.removable" placeholder="Image tags...">
                <md-chip-template>
                    <strong>{{$chip}}</strong>
                </md-chip-template>
            </md-chips>
            <md-datepicker required ng-model="ctrl.date" md-placeholder="Enter date"></md-datepicker>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="$ctrl.cancel()">Cancel</md-button>
            <md-button ng-click="$ctrl.upload()" class="md-primary">Upload</md-button>
        </md-card-actions>
    </md-card>
</md-content>