image-list {
  display: block;
  position: relative;

  .upload-image {
    position: absolute;
    right: 25px;
    margin-top: 15px;
    font-size: 34px;
  }

  md-card {
    max-width: 450px;

    .card-image {
      width: 100%;
    }

    .user-name {
      margin-left: 15px;
    }

    .user-image {
      border-radius: 50%;
    }
  }
}
