<md-button class="upload-image md-fab" aria-label="Add image" ui-sref="home.add">
    +
    <md-tooltip>{{'image-list.upload-image'|translate}}</md-tooltip>
</md-button>
<md-content layout="column" layout-align="start center">
    <md-card ng-repeat="img in $ctrl.images track by img.id">
        <md-card-title layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <img class="user-image" ng-src="{{::img.userId | getProfileImage}}">
                <span class="user-name">{{::img.userId | getUserName}} - {{img.date | timeAgo}}</span>
            </div>
            <div layout="column" layout-align="center end">
                <div layout="row" class="rate-buttons">
                    <md-button class="md-icon-button" ng-repeat="i in [1,2,3,4,5]" ng-init="img.editRating=img.userRating" ng-mouseover="img.editRating=i"
                        ng-mouseleave="img.editRating=img.userRating" ng-click="$ctrl.rateImage(img, i)">
                        <i class="material-icons" ng-bind="i<=img.editRating&&img.editRating? 'star': 'star_border'"></i>
                    </md-button>
                </div>
                <span>{{'image-list.average-rating'|translate}}{{img.averageRating || '?'}}/5</span>
            </div>
        </md-card-title>
        <md-card-content layout="column">
            <img class="card-image" ng-src="{{::img.link | apiEndpoint}}">
            <div>
                <div class="comment" ng-repeat="comment in img.comments track by comment.id" layout="row" layout-align="start center">
                    <img class="user-image" ng-src="{{::comment.userId | getProfileImage}}">
                    <div class="text" layout="column">
                        <span class="info">{{::comment.userId | getUserName}} - {{comment.date | timeAgo}}</span>
                        <span>{{comment.commentText}}</span>
                    </div>
                </div>
            </div>
        </md-card-content>
        <md-card-actions>
            <input class="comment-input" ng-model="img.newComment" placeholder="{{'image-list.add-comment'|translate}}" on-enter="$ctrl.addComment(img, img.newComment); img.newComment=''">
        </md-card-actions>
    </md-card>
    <h3 ng-if="$ctrl.noImages" ng-bind-html="'image-list.no-images'|translate"></h3>
    <md-progress-circular ng-if="$ctrl.hasMore" in-view="$ctrl.loadMore()" md-mode="indeterminate"></md-progress-circular>
</md-content>