image-list {
  display: block;
  position: relative;

  .upload-image {
    position: fixed;
    right: 25px;
    margin-top: 15px;
    font-size: 34px;
  }

  md-card {
    max-width: 450px;

    .card-image {
      width: 100%;
    }

    .user-name {
      &.comment {
        font-weight: bold;
      }
      margin-left: 15px;
    }

    .comment {
      &:not(:first-child) {
        border-top: 1px solid #eee;
      }

      padding-top: 5px;
      margin-top: 5px;

      .text {
        margin-left: 10px;
      }
    }

    .user-image {
      border-radius: 50%;
    }

    md-card-actions {
      margin: 0;
      padding: 15px;
      background: #eee;

      .comment-input {
        padding: 5px;
        font-size: 22px;
        border: 1px solid lightgray;
        width: 100%;
      }
    }
  }
}
