<md-button class="upload-image md-fab" aria-label="Add image" ui-sref="home.add">
    +
    <md-tooltip>{{'image-list.upload-image'|translate}}</md-tooltip>
</md-button>
<md-content layout="column" layout-align="start center">
    <md-card ng-repeat="img in $ctrl.images track by img.id">
        <md-card-title layout="row" layout-align="start center">
            <img class="user-image" ng-src="{{::img.userId | getProfileImage}}">
            <span class="user-name">{{::img.userId | getUserName}} - {{img.date | timeAgo}}</span>
        </md-card-title>
        <md-card-content layout="column">
            <img class="card-image" ng-src="{{::img.link | apiEndpoint}}">
            <div>
                <div class="comment" ng-repeat="comment in img.comments track by comment.id" layout="row" layout-align="start center">
                    <img class="user-image" ng-src="{{::comment.userId | getProfileImage}}">
                    <div class="text" layout="column">
                        <span class="info">{{::comment.userId | getUserName}} - {{comment.date | timeAgo}}</span>
                        <span>{{comment.commentText}}</span>
                    </div>
                </div>
            </div>
        </md-card-content>
        <md-card-actions>
            <input class="comment-input" ng-model="img.newComment" placeholder="{{'image-list.add-comment'|translate}}" on-enter="$ctrl.addComment(img, img.newComment); img.newComment=''">
        </md-card-actions>
    </md-card>
</md-content>