home {
    md-toolbar {
        padding-left: 15px;
        padding-right: 15px;
    }

    .upload-image {
        position: absolute;
        right: 25px;
        margin-top: 15px;
        font-size: 34px;
    }
}